@import 'elements/variable';
@import 'elements/mixins';
@import 'elements/icon-fonts';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'elements/header';
@import 'elements/banner';
@import 'elements/formcontrol';
@import 'elements/radio';
@import 'elements/checkbox';
@import 'elements/tabs';
@import 'elements/panel';
@import 'elements/boxes';
@import 'elements/badgepills';
@import 'elements/clientBoarding';
@import 'elements/checkout';
@import 'elements/login';
@import 'elements/congratulation';
@import 'elements/table';
@import 'elements/widget';
@import 'elements/website'; 


// common code for scrollbar 
:root, .pagesContent, .dashboard-tabs, .table-responsive, .slide-tabs .nav-tabs, .custom-scrollbar-handle, .scroll-area, .innerHeight, .custom-scroll-area, .modal, .segmentCheckoutList{
    overflow: auto; 
    scrollbar-color: #aaa transparent;
    scrollbar-width: thin;
    
    // chrome
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  
    &::-webkit-scrollbar-thumb {
      width: 6px;
      height: 6px;
      border-radius: 13px;
      background-clip: padding-box;
      border: 6px solid #aaa;
      background-color: #aaa;
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 13px;
      background-color: transparent;
      border: 6px solid transparent;    
      background-clip: padding-box;
    }
}

@include media-breakpoint-down(xl) {
    html{
        font-size: 14px;
    }
}
// common

html,body{
    width: 100%;
    height: 100%;
}
body{    
    font-family:'Roboto',sans-serif;
}
span{
    margin-left: 0;
}
a{
    &:hover, &:focus{
        outline: none;
        text-decoration: none;
    }
}

h1{
    @include media-breakpoint-up(xl) {
        @include font-size(46px);
    }
    @include font-size(42px);
    font-weight: 700;
}
h2{
    @include media-breakpoint-up(xl) {
        @include font-size(36px);
    }
    @include font-size(30px);
    font-weight: 700;
}
h3{
    @include media-breakpoint-up(xl) {
        @include font-size(28px);
    }
    @include font-size(24px);
    font-weight: 700;
}
h4{
    @include media-breakpoint-up(xl) {
        @include font-size(24px);
    }
    @include font-size(22px);
    font-weight: 600;
}
h5{
    @include media-breakpoint-up(xl) {
        @include font-size(20px);
    }
    @include font-size(18px);
    font-weight: 600;
}
h6{
    @include font-size(16px);
    font-weight: 600;
}
.caption-heading{
    @include font-size(14px);
    font-weight: 600;
}
p{
    @include font-size(14px);
}

b,strong{
    font-family:'Roboto',sans-serif;
    font-weight: 600;
}
ul, ol{
    margin-bottom: 0px;
}
ul.with-tick{
    list-style: none;
    padding-left: 10px;
    li{
      position: relative;
      margin: 8px 0;
      padding-left: 20px;
      &::before{
        position:absolute;
        left: 0;
        top: 0px;
        display: inline-block;
        font-family:FontAwesome;
        content:'\f00c';
        margin-right: 15px;
        color: $primary;
      }
    }
}

ul.with-dot{
list-style: none;
padding-left: 10px;
li{
    position: relative;
    margin: 5px 0;
    padding-left: 20px;
    &::before{
    position: absolute;
    display: inline-block;
    width: 8px;
    left: 0;
    top: 5px;
    height: 8px;
    background: $primary;
    vertical-align: middle;
    content:'';
    margin-right: 15px;
    border-radius: 50%;      
    }
}
}

.disabled, :disabled{
    cursor: no-drop;
}
.full-wrapper{
    padding-top: 8rem;
}
header{
    .dropdown-menu{
        &.show{
            animation: dropdownmove 0.1s;
        }
    }
}
.dropdown-menu{
    padding: 0px;
    border-radius: 0;
    box-shadow: rgba($black,0.2) 0 0 15px;
    border:0;  
    .dropdown-item{
        padding: 0.6rem 1rem;
        &:hover{
            color: $primary;
        }
        &:active{
            color: $white;
        }
    }
}
.circle{border-bottom-color: $primary !important;}

.custom-image-upload{
    & + .text-black-50{
        font-weight: bold;
        color: $black;
        @include font-size(14px)
    }
  input{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0 !important;
    width: 100%;
  }

  label{
    color: #757796;
    margin: 0;
    text-align: center;
    display: block;
    padding:20px 20px;
    border: $gray-200 dashed 2px;
    border-radius: 4px;
    background-color: #fbfbfb;
    cursor: pointer;

  }
}

  .modal{
    .modal-title{
      @include font-size(18px);
    }
    .modal-header{
      border-bottom:solid 1px #d5d5d5;
      background: #F5F5F5;
      border-top-left-radius:4px;
      border-top-right-radius:4px;
      // padding-left: 30px;
      // padding-right: 30px;
      .close{
        color: $black;
        @include font-size(32px);
        height: 50px;
        width: 50px;
        line-height: 50px;
        padding: 0 !important; 
        text-align: center;
        line-height: 50px;
        &:focus{outline: 0; border: 0;}
      }
    }
  }

  .progress{
    background:$primary;
    border-radius:30rem;
    padding:2px;
    width:100%;
    .progress-bar{
      border-radius:30rem;
      background: $white;
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,0) 100%);
    }
    + span.percent-progress{
      margin-left:10px;
      font-size:14px;
      font-weight:600;
      color:$primary;
    }
  }
  
  //Custom Spinner Component
  .spinner-box{  
    position:relative;
     .input-group{
      .input-group-prepend, .input-group-append{
        button{
          padding: 0;
          height: calc(1.3em + 1.35rem + 5px);
          width:40px;
          min-height: 40px;
          text-align:center;
          line-height: 1;
          i{
            @include font-size(12px);
          }
        }
      }
      label.control-label{
        width: 80px;
        max-width: 100px;
        margin-bottom: 0;
        border-top:1px solid $gray-200;
        border-bottom:1px solid $gray-200;
        text-align: center;
        line-height: 42px;
      }
    }
    &[size="sm"]{
      .input-group{
        .input-group-prepend, .input-group-append{
          button{       
            height: 26px;
            width:26px;
            min-width: 26px;
            min-height: 26px;
            i{
              @include font-size(10px);
            }        
          }
        }
        label.control-label{
          width: 40px;
          max-width: 100px;
          line-height: 24px !important;
        }
      }
    }
    &[size="lg"]{
      .input-group{
        .input-group-prepend, .input-group-append{
          button{          
            height: 40px;
            width:40px;
            min-height: 40px;
            i{
              @include font-size(10px);
            }        
          }
        }
        label.control-label{
          width: 80px;
          max-width: 100px;
          line-height: 42px;
        }
      }
    }
    &.spinner-box-icon{
      max-width: 200px;
      @include media-breakpoint-down(sm) {
        margin: auto;
      }
      .userIcon{
        width: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top:1px solid $gray-200;
        border-bottom:1px solid $gray-200;
        i{
          color: $gray-200;
  
        }
      }
      .input-group{
        label.control-label{          
          line-height: 38px;
          width: 50px;
        }
      }
    }
  }