:root{
  $primary:    #0082ba;
  $secondary: #0082ba;
}

//default color theme
$gray-200:  #d5d5d5;
$gray-800:  #53565A;
$gray-900:  #212529;
$black:     #000000;
$white:     #ffffff;
$primary:    #0082ba;
$primary-light : #EFF6F5;
$secondary: #0082ba;
$selection: #0082ba;
$headerColor : #0082ba;
//$inputFlotingLable:$primary;
$input-icon:$gray-200;
$secondary-header:#EBEBEB;
$secondary-font:#2C3E4A;
$color-primary:#1A194B;
$color-secondary:#2D3CFF;
$color-third:#79D9AB;
$color-badge:#00b2ff;

@import "_customVariable.scss";
$blue:      #003C71;
$indigo:    #1f87c1;
$purple:    #6f42c1;
$pink:      #FF1493;
$red:       #ff0000;
$orange:    #FF5C39;
$yellow:    #FFC107;
$green:     #00A34F;
$teal:      #0082BA;
$cyan:      #68D2DF;
$light:     #F3F4F9;
$gray:      #B5B5B5;

$light-blue:#AFE7FF;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$dark:          $gray-800;
$primary-clash: #8A8D8F;

$green-alt : #BED600;
$text:#434343;
$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $green,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "blue":       $blue,
  "indigo":     $indigo,
  "orange":     $orange,
  "gray":       $gray-800
), $theme-colors);

//to user this color variable to user on code page
:export {
  primary:    $primary;
  secondary:  $secondary;
  success:    $green;
  info:       $info;
  warning:    $warning;
  danger:     $danger;
  light:      $light;
  dark:       $dark;
  blue:       $blue;
  indigo:     $indigo;
  orange:     $orange;
  gray:       $gray-800;
}

// Custom
$body-color: #212121;
$higlight-font-color: #6d5896;
$heading-font: 'Roboto-Medium';
$floating-label-size: 0.75rem;
$imageBg: #e0dfe5;

$border-radius: 4px;

$font-size-base:              0.875rem;
$line-height-base:            1.3;

// Grid columns
$grid-gutter-width:           20px;

// Navbar
$navbar-nav-link-padding-x:         1rem;

$navbar-padding-y:                  0.2rem;
$navbar-dark-color:                 rgba($white, 1);
$navbar-dark-hover-color:           rgba($white, 1);
$navbar-dark-active-color:          $white;

// Navs
$nav-link-padding-x:                1rem;
$custom-control-indicator-size:     1.3rem;

// Buttons + Forms
$input-btn-padding-x-sm:      .8rem;
$input-btn-padding-x:         1.2rem;
$input-btn-padding-y:         .675rem;
$btn-padding-x-lg:            0.8rem;
$btn-padding-y-lg:            0.469rem;
$btn-padding-x-sm:            0.625rem;
$btn-padding-y-sm:            0.25rem;
$btn-padding-y:               0.645rem;

// Buttons
$btn-border-radius: $border-radius;

// Forms
$input-placeholder-color:              rgba($black, 0.5);
$input-padding-x-sm:                    $input-btn-padding-x-sm;
$font-size-sm:                          0.875rem;
$placeholder-color:                     $gray-light;
$input-disabled-bg:                     $gray-light;

$custom-control-indicator-size:         1.5rem;
$custom-control-indicator-box-shadow:   inset 0 .25rem .25rem rgba($primary, .1);
$custom-control-gutter:                 0.8rem;
$custom-checkbox-indicator-border-radius: 0.35rem;

// Cards
$card-spacer-x:                     1rem;
$card-spacer-y:                     0.6rem;

$table-head-bg:               $light;
$primary-txt:                 $primary;

// Custom
$topsearch-wrapper-width: 300px;
$topPadding: 135px;
$media-iconWH: 35px;
$media-circleWH: 20px;
$accordion-padding-x: 0.8rem;
$accordion-padding-y: 1rem;
$block-box-shadow: 0px 0px 3px 1px rgba($black, 0.2);
$border-radius-checkbox: 1rem;

$sidebarWidth: 380px;
$input-border-color: $gray-light;

// screens sizes
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl:1537px
) !default;



// images ratio
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;    
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
      transition: all ease-in-out 0.3s;
    }
  }
}

// images ratio
@mixin aspect-ratio-video($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;    
  }
  video{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    source{
      object-fit: cover;
      height: 100%;
      width: 100%;
      transition: all ease-in-out 0.3s;
    }
  }  
}